/* =============================================================================
mixins
========================================================================== */


@mixin picWidth ($width) {
  width:$width;
  top:-$width/2*1.6;
  margin-left:-$width/2;
}


@mixin transition($duration, $attribute: all) {
	  -webkit-transition: $attribute $duration ease;
	  -moz-transition: $attribute $duration ease;
	  -ms-transition: $attribute $duration ease;
	  -o-transition: $attribute $duration ease;
	  transition: $attribute $duration ease;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}


@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin hp-opacity($trans) {
  filter: alpha(opactiy=($trans * 100));
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$trans * 100})";
  -moz-opacity: $trans;
  -khtml-opacity: $trans;
  opacity: $trans;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}